.aboutus-page {
    position: relative;

    .page-label {
        padding-left: 10.6rem;
        margin-bottom: 8.5rem;
    }

    .title {
        margin-bottom: 7.2rem;
    }

    .main-desc {
        line-height: 3.2rem;
        margin-bottom: 12.4rem;
    }

    .bottom-img {
        display: block;
        width: 76%;
        position: relative;
        margin: 0 auto;

        img {
            display: block;
            width: 100%;
        }
    }
}

.recruiting-page {
    position: relative;

    .page-label {
        padding-left: 10.6rem;
        margin-bottom: 8.5rem;
    }

    .title {
        margin-bottom: 7.2rem;
        text-align: center;
    }

    .main-desc {
        line-height: 3.2rem;
        margin-bottom: 8.6rem;
    }

    .middle-part {
        text-align: center;

        .price-notice {
            text-align: center;
            margin-bottom: 4.2rem;
        }

        .price {
            margin-bottom: 4.6rem;
        }

        .btns {
            position: relative;
            display: flex;
            column-gap: 2.8rem;
            width: fit-content;
            margin-left: 14.4rem;
            margin-bottom: 9.6rem;
        }
    }

    .bottom-img {
        display: block;
        width: 76%;
        position: relative;
        margin: 0 auto;

        img {
            display: block;
            width: 100%;
        }
    }
}

.top-page {
    .mainview {
        position: relative;
        width: 86%;
        max-width: 90.6rem;
        margin: 0 auto 16rem auto;

        .left-right {
            display: flex;
            column-gap: 6.8rem;
            width: 100%;
            position: relative;
            margin-bottom: 10.2rem;

            .left-part {
                width: 100%;
                position: relative;

                .title {
                    line-height: 7.4rem;
                    margin-bottom: 1.8rem;
                }

                .desc {
                    line-height: 3.2rem;
                }
            }

            .right-part {
                display: block;
                position: relative;
                width: 44%;
                flex-shrink: 0;

                img {
                    display: block;
                    position: relative;
                    width: 100%;
                }
            }
        }

        .search-wrapper {
            display: flex;
            position: relative;
            height: 5.5rem;

            .location-wrapper {
                display: flex;
                position: relative;
                border: 1px solid #696969;
                border-radius: 0.8rem 0 0 0.8rem;
                height: 100%;

                .location-img {
                    position: relative;
                    width: 5.0rem;
                    flex-shrink: 0;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        display: block;
                        width: 1.8rem;
                        aspect-ratio: 18 / 32;
                        height: auto;
                    }
                }

                .input-with-datalist {
                    width: 26rem;
                    flex-shrink: 0;
                    height: 100%;

                    input {
                        height: 100%;
                        border: none;
                        padding-left: 0;
                        width: 100%;
                        font-size: 1.6rem;
                        color: #000;
                    }

                    datalist {
                        width: calc(100% + 5.3rem);
                        transform: translateX(-5.2rem);
                        max-height: 32vh;
                        border-radius: 0.8rem 0 0 0.8rem;
                        margin-top: 0.2rem;

                        option {
                            font-size: 1.6rem;
                            font-weight: 500;
                        }
                    }
                }
            }

            .keywords-wrapper {
                position: relative;
                width: 100%;
                display: flex;
                border-top: 1px solid #696969;
                border-bottom: 1px solid #696969;

                .icon-img {
                    position: relative;
                    width: 5.8rem;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        width: 2.8rem;
                        height: 2.8rem;
                        display: block;
                        position: relative;
                    }
                }

                .keys {
                    width: 100%;
                    height: 100%;
                    padding: 0.8rem 0.5rem 0.8rem 0;
                    font-family: "Noto Sans JP";
                    font-size: 1.6rem;
                    font-weight: 500;
                    background-color: #FFF;
                    border-radius: 0;
                }
            }

            .href-btn {
                padding: 2.0rem 1.8rem;
                width: fit-content;
                height: 100%;
                flex-shrink: 0;
                border-radius: 0 0.8rem 0.8rem 0;
                background: $green_color;
                color: #FFF;
            }
        }
    }

    .recruiting-section {
        position: relative;
        padding: 8.0rem 0;
        background: #FDEEE7;

        .top-label {
            display: flex;
            column-gap: 1.0rem;
            align-items: center;
            margin-bottom: 2.6rem;

            img {
                width: 3.2rem;
                position: relative;
                display: block;
            }
        }

        .recruiting-item {
            border: unset;

            .other-list {
                width: 100%;
                padding: 3.2rem 0 2.0rem 0;
                border-top: 1px solid #EFE6E6;
                border-bottom: 1px solid #EFE6E6;
                margin-bottom: 3.2rem;

                .other-label {
                    color: #959595;
                    margin-bottom: 1.6rem;
                }

                .title {
                    &:not(:last-child) {
                        margin-bottom: 2.0rem;
                    }
                }
            }
        }
    }
}

.archive-recruiting {
    .search-pannel {
        margin-bottom: 7.6rem;

        .label {
            margin-bottom: 7.2rem;
        }

        .search-wrapper {
            display: flex;
            position: relative;
            height: 5.5rem;
            max-width: 88rem;
            margin: 0 auto 4.0rem auto;

            .location-wrapper {
                display: flex;
                position: relative;
                border: 1px solid #696969;
                border-radius: 0.8rem 0 0 0.8rem;
                height: 100%;

                .location-img {
                    position: relative;
                    width: 5.0rem;
                    flex-shrink: 0;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        display: block;
                        width: 1.8rem;
                        aspect-ratio: 18 / 32;
                        height: auto;
                    }
                }

                .input-with-datalist {
                    width: 26rem;
                    flex-shrink: 0;
                    height: 100%;

                    input {
                        height: 100%;
                        border: none;
                        padding-left: 0;
                        width: 100%;
                        font-size: 1.6rem;
                        color: #000;
                    }

                    datalist {
                        width: calc(100% + 5.3rem);
                        transform: translateX(-5.2rem);
                        max-height: 32vh;
                        border-radius: 0.8rem 0 0 0.8rem;
                        margin-top: 0.2rem;

                        option {
                            font-size: 1.6rem;
                            font-weight: 500;
                        }
                    }
                }
            }

            .keywords-wrapper {
                position: relative;
                width: 100%;
                display: flex;
                border-top: 1px solid #696969;
                border-bottom: 1px solid #696969;

                .icon-img {
                    position: relative;
                    width: 5.8rem;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        width: 2.8rem;
                        height: 2.8rem;
                        display: block;
                        position: relative;
                    }
                }

                .keys {
                    width: 100%;
                    height: 100%;
                    padding: 0.8rem 0.5rem 0.8rem 0;
                    font-family: "Noto Sans JP";
                    font-size: 1.6rem;
                    font-weight: 500;
                    background-color: #FFF;
                    border-radius: 0;
                }
            }

            .href-btn {
                padding: 2.0rem 1.8rem;
                width: fit-content;
                height: 100%;
                flex-shrink: 0;
                border-radius: 0 0.8rem 0.8rem 0;
                background: $green_color;
                color: #FFF;
            }
        }
    }

    .recruiting-section {
        .label {
            margin-bottom: 7.2rem;
        }
    }
}

.search-page {
    .search-pannel {
        .label {
            margin-bottom: 9.6rem;
        }

        .search-filter {
            padding-left: 1.4rem;
            margin-bottom: 6.2rem;

            span {
                margin-left: 6.2rem;
            }
        }

        .search-result {
            margin-bottom: 5.2rem;
            text-align: center;

            .number {
                margin: 0 0.6rem 0 1.2rem;
                color: #FC7650;
            }
        }

        .btn-green {
            margin: 0 auto 6.6rem auto;
        }
    }
}

.single-recruiting {
    .left-right {
        display: flex;
        column-gap: 5.6rem;
        margin-bottom: 8.0rem;

        .left-part {
            .title {
                margin-bottom: 1.4rem;
            }

            .desc {
                margin-bottom: 2.4rem;
                line-height: 2.4rem;
            }

            .company-name {
                margin-bottom: 1.8rem;
            }
            .city {
                margin-bottom: 1.0rem;
            }

            .price-position {
                margin-bottom: 2.6rem;

                .position {
                    margin-left: 2.0rem;
                }
            }

            .categories {
                justify-content: flex-start;
            }
        }
    }

    .q-a-list {
        margin-bottom: 7.0rem;
    }

    .btns {
        display: flex;
        column-gap: 3.0rem;
        justify-content: center;
    }
}

.apply-page,
.query-page {
    .page-label {
        margin-bottom: 9.2rem;
    }
    .desc {
        padding-left: 1.6rem;
        line-height: 3.2rem;
        margin-bottom: 8.0rem;
    }
}